@charset "utf-8";
/* CSS Document */
@import url(base.css);
@import url(top.css);
@import url(bottom.css);
.content{ margin:30px auto 50px;}
.about-us-left{ width:160px; height:330px; background:#fff;}
.about-us-left h1{ height:50px; line-height:50px; text-align:center; background-color:#0065b4; font-size:18px; color:#fff; font-weight:normal; margin-bottom:20px;}
.au-nav{ height: auto !important;}
.au-nav li{ height:35px; line-height:35px; margin-bottom:6px; text-align:center; cursor:pointer;}
.au-selected{ background:#f1f1f1; color:#00a0e9;}
.about-us-right{ width:820px; height:auto !important; background:#fff;}
.au-box{ width:780px;min-height:410px; height: auto !important; margin:0 auto;  display:none; }
.au-title{ height:50px; border-bottom:1px solid #eee; line-height:50px; font-size:20px; color:#0065b4; font-weight:bold;}

.invest-question li,.account-question li{ min-height:58px; border-bottom:1px dashed #ccc;}
a.invest-title{ line-height:58px; cursor:pointer;}
a.invest-title:hover{ color:#00a0e9;}
.invest-answer{ width:636px;  margin:0 auto 20px; line-height:24px; text-indent:30px; background:#f5f7f8; display:none; padding:10px 15px;}
.step4-pic{ width:560px; height:420px; margin:30px auto; background: url(../images/account/step4.png) no-repeat;}
.account-question li .invest-answer{ text-indent:0;}
.account-question,.invest-question{ width:700px; margin:0 auto;padding-bottom:20px;}
.account-question li span{ color:#00a0e9;}
.font18{ font-size:18px; font-weight:normal; color:#00a0e9; margin:20px 0 4px;}
.feeForm,.loanForm{margin:20px auto; border-collapse:collapse;}
.feeForm td,.loanForm td{border:1px solid #eee;}
.feeForm td p,.loanForm td p{ padding-left:30px; line-height:24px;}
.gray-color{ background-color:#f5f7f8; text-align:center;}


.contact{ margin-bottom:36px;}
.contact h3{ text-indent:30px; margin-bottom:10px;}
.contact p{ text-indent:10px; line-height:24px;}
.contact .what-do{ text-indent:10px;}
.important{ text-indent:30px;}