@charset "utf-8";
/* CSS Document */
@import url(base.css);
@import url(top.css);
@import url(bottom.css);
@import url(accountLeft.css);
.myAccount{  height:940px; margin:30px 0; clear:both;}


/*****账户总览 左侧*****/

.item dd a i.rechargeTx{ background-position:-18px -162px;}


/*****账户总览右栏***/
.rechargeTakeCash{ width:820px; height:940px; }

.rT{ height:940px;  background:#fff;}
.rTWrap{ width:780px; height:940px; margin:0 auto; overflow:hidden; position:relative;}
.txTop{ height:58px;overflow:hidden; }
b.midLine{ height:1px; font-size:0; width:100%; background:#eeeeee; position:absolute; top:28px; left:0;  overflow:hidden;}
.txTop h2,.excel{ height:22px; line-height:22px; position:absolute;background-color:#fff;}
.txTop h2{ top:17px; left:24px; font-size:20px; color:#0065b4; padding:0 6px; z-index:9; }
.giftManage{  height:40px; margin-bottom:20px; }
.giftManage li{ width:158px; height:40px; line-height:40px; text-align:center; margin-right:2px; float:left; background-color:#f5f7f8; cursor:pointer;}


.giftControl table{ border:1px solid #ccc;}

.prize{ background:#f5f7f8;}
#myPrize td{ text-align: center; border-top:1px solid #ccc; }

.Coupon{ width:600px; height:32px; margin:20px auto 0;}
input.inputPwd{ width:60px; padding:0 5px; height:28px; line-height:28px; border:1px solid #ccc; vertical-align:middle; margin:0;  }
#noborder,#noborder td{ border:none; }
#jihuo,#upBtn{ width:78px; height:30px; line-height:30px; text-align:center; color:#fff; background-color:#0065b4; display:block; border-radius:3px;}
#myCashCoupon table{ border:1px solid #ccc; }
#myCashCoupon td{ text-align:center;border-top:1px solid #ccc; }
.myAddress{ width:326px; height:256px; margin:0 auto;}
.myAddress table{ border:none;}

#myAddress td input{ padding:0 5px; width:235px; height:28px; border:1px solid #ccc;}

.myAddress table td{ margin-bottom:20px;}
.giftControl{ display:none;}
.giftColor{ backgroundr:#0065b4; color:#fff;}

