@charset "utf-8";
/* CSS Document */
@import url(base.css);
@import url(top.css);
@import url(bottom.css);
.register{ width:800px; margin:20px auto; background-color:#fff; padding:20px;font-size:12px;}
.reg_content{ }
.reg_logo{ height:50px; position:relative;}
.reg_logo_pic{ width:162px; height:50px; line-height:50px; color:#555; font-weight:normal;  position:absolute; top:0; left:0;}
.go_login{ width:166px; line-height:22px; position:absolute; left:100px; top:20px; color:#00a0e9; text-align:right; font-size:14px; }
.reg_conditions{  margin-top:10px; border-top:1px solid #e7e7e7; }
div.reg_conditions .reg_step{ height:51px; display:block; }

.form_validator{ width:700px;  margin:0 auto; padding-top:10px; }
.ui-form-item{ height:70px; padding-bottom:5px; position:relative;}
.ui-form-item .ui-input{ padding:10px 9px; width:204px; font-size:16px;}
.ui-form .pl60{ padding-left:60px;}
.ui-form .input_tip{ position:absolute; color:#ABABAB; left:230px;top:12px; display:block;}
.ui-form .submit_btn{ width:225px; height:50px; background:#ff8636; font-size:24px; color:#fff; border:0 none; cursor:pointer; outline:none; display:block; font-family:"微软雅黑"; border-radius:4px;}
.ui-form .h40{ height:40px;}

label.error,label.valid{ height:24px; line-height:24px; background:url(../images/register/wrong.png) no-repeat 10px 0; padding:0 0 4px 40px; }
label.valid{ background:url(../images/register/right.png) no-repeat 10px 0; }
.psw-streng{ width:200px; height:20px; margin:10px 0 0 140px; }
.psw-streng div{   
     background-image: url(../images/range.png);
    background-repeat: no-repeat;
   display:none;
    height: 20px;
    width: 127px;
}

 .psw-streng .low {
    background-position: 0 0;
}
.psw-streng .mid {
    background-position: 0 -27px;
}
 .psw-streng .high {
    background-position: 0 -55px;
}

.us_bg{ background:url(../images/register/us_bg.png) no-repeat;}

#username{ background-position:0 0;}
#password,#confirm_password{ background-position:0 -38px;}
#introducer{ background-position:0 -114px;}
.ui-form-item .ui-checkbox{  display:inline-block; }

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
border: 0;
outline : 0;
}

.ui-label, #input-yzm, .yzmPic{ float:left;}
#input-yzm {
    height: 28px;
    line-height: 28px;
    padding: 5px 10px;
    width: 190px;
}

.yzmPic,.voiceyzmPic{
    background: none repeat scroll 0 0 #00A0E9;
    display: block;
    height: 36px;
    margin-right: 10px;
    width: 106px;
	float:left;
}

#input_tip{ left:190px;}
.yzm-tip{ width:300px; height:20px; position: absolute; bottom:8px; left:170px; background:red;}

.ui-form-item .getPhoneCode,.ui-form-item .getVoiceCode{ width:78px; height:30px; background:#00a0e9; display:block; font-size:14px; text-align:center; line-height:30px; color:#fff; font-family:"微软雅黑" }
.ui-form-item .getPhoneCode{position:absolute; top:4px; left:170px;}
.ui-form-item .getVoiceCode{position:absolute; top:4px; left:258px; }


.verifyTip{ height:30px;  text-align:center; font-size:14px; color:#888888;}

.verifyTip a{ color:#00a0e9;}
.us_bg{ background:url(http://static.vfunding.cn/images/register/us_bg.png) no-repeat;}
.ui-form .check_code{ height:50px;}
