@charset "utf-8";
/* CSS Document */
@import url(base.css);
@import url(top.css);
@import url(bottom.css);
@import url(accountLeft.css);

.content2{ width:1000px; height:auto; margin:0 auto 30px; overflow:hidden;}
.myAccount{ height:auto!important;margin:30px 0; clear:both;}

#wrapper{width:778px;margin-top:26px;}

/*****账户总览右栏***/
.rechargeTakeCash{ width:820px;margin-bottom:20px;}
.rT{  background:#fff;  height:auto!important;}
.rTWrap{ width:780px;  margin:0 auto; overflow:hidden;}
.txTop{ height:58px;overflow:hidden;position:relative;margin-top:20px; }
b.midLine{ height:1px; font-size:0; width:80%; background:#eeeeee; position:absolute; top:28px; right:0;  overflow:hidden;}
.txTop h2,.excel{ height:22px; line-height:22px; position:absolute;background-color:#fff;}
.txTop h2.zhcz{ top:17px; left:88px; font-size:20px; color:#0065b4; padding:0 6px; z-index:9; }

a.goBack{ width:64px; height:30px; line-height:28px; display:block; position:absolute; left:0; top:12px; background:url(../images/account/goback.png) no-repeat 12px center; background-color:#cccccc; text-indent:28px; color:#fff;}
a.goBack:hover{ background-color:#aaa; text-decoration:none;}

.takecash{ width:780px; height:auto!important;}
#main{ width:700px;overflow:hidden; margin:0;}
#wrapper, #wrap,.withdraw-post{ width:700px;}
.items{ width:auto; height:auto;}
.hb{ width:140px; height:20px; margin-left:20px; display:inline;}
.tx116{ display:inline-block; color:#fff;}
.tx116:hover{ text-decoration:none;}
.warmtip{ margin-bottom:60px;}
.warmtip h3{ color:#00a0e9; line-height:60px; font-size:18px; font-weight:normal;}
.warmtip p{ font-size:12px; color:#888; text-indent:22px; line-height:24px;}
.exchangPwd{ width:140px; padding:5px; height:28px; line-height:28px;}







