@charset "utf-8";
/* CSS Document */
@import url(base.css);
@import url(top.css);
@import url(bottom.css);
.content{ height:800px; background:#fff; margin:30px auto;}
#swf{ width:1000px; height:800px; }