<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.vfunding.vfunding.biz.borrow.dao.BorrowVouchCollectionMapper" >
  <resultMap id="BaseResultMap" type="cn.vfunding.vfunding.biz.borrow.model.BorrowVouchCollection" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="borrow_id" property="borrowId" jdbcType="INTEGER" />
    <result column="order" property="order" jdbcType="INTEGER" />
    <result column="vouch_id" property="vouchId" jdbcType="INTEGER" />
    <result column="repay_time" property="repayTime" jdbcType="VARCHAR" />
    <result column="repay_yestime" property="repayYestime" jdbcType="VARCHAR" />
    <result column="repay_account" property="repayAccount" jdbcType="VARCHAR" />
    <result column="repay_yesaccount" property="repayYesaccount" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="VARCHAR" />
    <result column="addip" property="addip" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, status, user_id, borrow_id, order, vouch_id, repay_time, repay_yestime, repay_account, 
    repay_yesaccount, addtime, addip
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rd_borrow_vouch_collection
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rd_borrow_vouch_collection
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.vfunding.vfunding.biz.borrow.model.BorrowVouchCollection" >
    insert into rd_borrow_vouch_collection (id, status, user_id, 
      borrow_id, order, vouch_id, 
      repay_time, repay_yestime, repay_account, 
      repay_yesaccount, addtime, addip
      )
    values (#{id,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{borrowId,jdbcType=INTEGER}, #{order,jdbcType=INTEGER}, #{vouchId,jdbcType=INTEGER}, 
      #{repayTime,jdbcType=VARCHAR}, #{repayYestime,jdbcType=VARCHAR}, #{repayAccount,jdbcType=VARCHAR}, 
      #{repayYesaccount,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR}, #{addip,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.vfunding.vfunding.biz.borrow.model.BorrowVouchCollection" >
    insert into rd_borrow_vouch_collection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="borrowId != null" >
        borrow_id,
      </if>
      <if test="order != null" >
        order,
      </if>
      <if test="vouchId != null" >
        vouch_id,
      </if>
      <if test="repayTime != null" >
        repay_time,
      </if>
      <if test="repayYestime != null" >
        repay_yestime,
      </if>
      <if test="repayAccount != null" >
        repay_account,
      </if>
      <if test="repayYesaccount != null" >
        repay_yesaccount,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="addip != null" >
        addip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="borrowId != null" >
        #{borrowId,jdbcType=INTEGER},
      </if>
      <if test="order != null" >
        #{order,jdbcType=INTEGER},
      </if>
      <if test="vouchId != null" >
        #{vouchId,jdbcType=INTEGER},
      </if>
      <if test="repayTime != null" >
        #{repayTime,jdbcType=VARCHAR},
      </if>
      <if test="repayYestime != null" >
        #{repayYestime,jdbcType=VARCHAR},
      </if>
      <if test="repayAccount != null" >
        #{repayAccount,jdbcType=VARCHAR},
      </if>
      <if test="repayYesaccount != null" >
        #{repayYesaccount,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=VARCHAR},
      </if>
      <if test="addip != null" >
        #{addip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.vfunding.vfunding.biz.borrow.model.BorrowVouchCollection" >
    update rd_borrow_vouch_collection
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="borrowId != null" >
        borrow_id = #{borrowId,jdbcType=INTEGER},
      </if>
      <if test="order != null" >
        order = #{order,jdbcType=INTEGER},
      </if>
      <if test="vouchId != null" >
        vouch_id = #{vouchId,jdbcType=INTEGER},
      </if>
      <if test="repayTime != null" >
        repay_time = #{repayTime,jdbcType=VARCHAR},
      </if>
      <if test="repayYestime != null" >
        repay_yestime = #{repayYestime,jdbcType=VARCHAR},
      </if>
      <if test="repayAccount != null" >
        repay_account = #{repayAccount,jdbcType=VARCHAR},
      </if>
      <if test="repayYesaccount != null" >
        repay_yesaccount = #{repayYesaccount,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
      <if test="addip != null" >
        addip = #{addip,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.vfunding.vfunding.biz.borrow.model.BorrowVouchCollection" >
    update rd_borrow_vouch_collection
    set status = #{status,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      borrow_id = #{borrowId,jdbcType=INTEGER},
      order = #{order,jdbcType=INTEGER},
      vouch_id = #{vouchId,jdbcType=INTEGER},
      repay_time = #{repayTime,jdbcType=VARCHAR},
      repay_yestime = #{repayYestime,jdbcType=VARCHAR},
      repay_account = #{repayAccount,jdbcType=VARCHAR},
      repay_yesaccount = #{repayYesaccount,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=VARCHAR},
      addip = #{addip,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>