<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.vfunding.vfunding.biz.borrow.dao.MortgageCarMapper">
	<resultMap id="BaseResultMap"
		type="cn.vfunding.vfunding.biz.borrow.model.MortgageCar">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="owner_name" property="ownerName" jdbcType="VARCHAR" />
		<result column="owner_cardId" property="ownerCardid" jdbcType="VARCHAR" />
		<result column="owner_mobile" property="ownerMobile" jdbcType="VARCHAR" />
		<result column="owner_address" property="ownerAddress"
			jdbcType="VARCHAR" />
		<result column="car_number" property="carNumber" jdbcType="VARCHAR" />
		<result column="certification_date" property="certificationDate"
			jdbcType="DATE" />
		<result column="register_date" property="registerDate"
			jdbcType="DATE" />
		<result column="check_valid_date" property="checkValidDate"
			jdbcType="DATE" />
		<result column="car_license" property="carLicense" jdbcType="VARCHAR" />
		<result column="car_strut_num" property="carStrutNum" jdbcType="VARCHAR" />
		<result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
		<result column="brand" property="brand" jdbcType="VARCHAR" />
		<result column="buy_money" property="buyMoney" jdbcType="DECIMAL" />
		<result column="assess_money" property="assessMoney" jdbcType="DECIMAL" />
	</resultMap>

	<resultMap type="cn.vfunding.vfunding.biz.common.vo.MortgageCarVO"
		id="MortgageCar">
		<result column="ownerName" property="ownerName" jdbcType="VARCHAR"></result>
		<result column="name" property="name" jdbcType="VARCHAR"></result>
		<result column="ownerCardId" property="ownerCardId" jdbcType="VARCHAR"></result>
		<result column="ownerMobile" property="ownerMobile" jdbcType="VARCHAR"></result>
		<result column="ownerAddress" property="ownerAddress" jdbcType="VARCHAR"></result>
		<result column="carStrutNum" property="carStrutNum" jdbcType="VARCHAR"></result>
		<result column="carLicense" property="carLicense" jdbcType="VARCHAR"></result>
		<result column="carNumber" property="carNumber" jdbcType="VARCHAR"></result>
		<result column="registerDate" property="registerDate" jdbcType="TIMESTAMP"></result>
		<result column="certificationDate" property="certificationDate"
			jdbcType="TIMESTAMP"></result>
		<result column="checkYalidDate" property="checkYalidDate"
			jdbcType="TIMESTAMP"></result>
	</resultMap>

	<resultMap type="cn.vfunding.vfunding.biz.common.vo.BorrowVO1"
		id="Borrow">
		<result column="id" property="id" ></result>
		<result column="verifyTime" property="verifyTime"></result>
		<result column="account" property="account"></result>
		<result column="ownerName" property="ownerName"></result>
		<result column="mortgageType" property="mortgageType"></result>
		<result column="name" property="name"></result>
		<result column="timeLimit" property="timeLimit"></result>
		<result column="contractStart" property="contractStart"></result>
		<result column="contractEnd" property="contractEnd"></result>
		<result column="successTime" property="successTime"></result>
		<result column="endTime" property="endTime"></result>
	</resultMap>
	<sql id="Base_Column_List">
		id, owner_name, owner_cardId, owner_mobile, owner_address,
		car_number,
		certification_date,
		register_date, check_valid_date,
		car_license, car_strut_num, add_time, brand,
		buy_money,
		assess_money
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from rd_mortgage_car
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		rd_mortgage_car
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="cn.vfunding.vfunding.biz.borrow.model.MortgageCar"
		useGeneratedKeys="true" keyProperty="id">
		insert into rd_mortgage_car (id,
		owner_name, owner_cardId,
		owner_mobile, owner_address, car_number,
		certification_date, register_date, check_valid_date,
		car_license,
		car_strut_num, add_time,
		brand, buy_money, assess_money
		)
		values
		(#{id,jdbcType=INTEGER}, #{ownerName,jdbcType=VARCHAR},
		#{ownerCardid,jdbcType=VARCHAR},
		#{ownerMobile,jdbcType=VARCHAR},
		#{ownerAddress,jdbcType=VARCHAR}, #{carNumber,jdbcType=VARCHAR},
		#{certificationDate,jdbcType=DATE}, #{registerDate,jdbcType=DATE},
		#{checkValidDate,jdbcType=DATE},
		#{carLicense,jdbcType=VARCHAR},
		#{carStrutNum,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP},
		#{brand,jdbcType=VARCHAR}, #{buyMoney,jdbcType=DECIMAL},
		#{assessMoney,jdbcType=DECIMAL}
		)
	</insert>

	<!-- 查询抵押物列表 lx -->
	<select id="selectMortgageCarListPage" resultMap="MortgageCar"
		parameterType="cn.vfunding.common.framework.utils.page.PageSearch">
		select c.owner_name as ownerName,
		b.name as name,
		b.time_limit as timeLimit,
		c.owner_cardId as ownerCardId,
		c.owner_mobile as ownerMobile,
		c.owner_address as ownerAddress,
		c.car_strut_num as carStrutNum,
		c.car_license as carLicense,
		c.car_number as carNumber,
		c.register_date
		as registerDate,
		c.certification_date as certificationDate,
		c.check_valid_date as checkYalidDate
		from rd_mortgage_car c left join
		rd_borrow b on c.id = b.mortgage_id
		order by b.addtime desc
	</select>
	
	
	<!--借款客户信息 lx -->
	<select id="selectAddBorrowpageListPage" resultMap="Borrow"
		parameterType="cn.vfunding.common.framework.utils.page.PageSearch">
		select
		b.id as id,
		b.verify_time as verifyTime,
		b.account as account,
		c.owner_name as ownerName,
		b.mortgage_type_id as mortgageType,
		b.name as name,
		b.time_limit as timeLimit,
		b.contract_start as contractStart,
		b.contract_end as contractEnd,
		b.success_time as successTime,
		b.end_time as endTime
		from
		rd_borrow b left join rd_mortgage_car c on
		b.mortgage_id=c.id 
		where <![CDATA[ b.status < 10]]>
		<if test="entity.ownerName != null and entity.ownerName != ''">
		    and c.owner_name like 
		    concat('%',#{entity.ownerName,jdbcType=VARCHAR},'%')
		</if>
		<if test="entity.mortgageType != null and entity.mortgageType != ''">
		    and b.mortgage_type_id = #{entity.mortgageType,jdbcType=INTEGER}
		</if>
		<if test="entity.successTime != null and entity.successTime != ''">
		     <![CDATA[ and b.success_time >= #{entity.successTime,jdbcType=INTEGER}]]>
		</if>
		<if test="entity.successTime1 != null and entity.successTime1!='' ">
		     <![CDATA[ and b.success_time <= #{entity.successTime1,jdbcType=INTEGER}]]>
		</if>
		order by b.addtime desc
	</select>




	<insert id="insertSelective" parameterType="cn.vfunding.vfunding.biz.borrow.model.MortgageCar"
		useGeneratedKeys="true" keyProperty="id">
		insert into rd_mortgage_car
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="ownerName != null">
				owner_name,
			</if>
			<if test="ownerCardid != null">
				owner_cardId,
			</if>
			<if test="ownerMobile != null">
				owner_mobile,
			</if>
			<if test="ownerAddress != null">
				owner_address,
			</if>
			<if test="carNumber != null">
				car_number,
			</if>
			<if test="certificationDate != null">
				certification_date,
			</if>
			<if test="registerDate != null">
				register_date,
			</if>
			<if test="checkValidDate != null">
				check_valid_date,
			</if>
			<if test="carLicense != null">
				car_license,
			</if>
			<if test="carStrutNum != null">
				car_strut_num,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="brand != null">
				brand,
			</if>
			<if test="buyMoney != null">
				buy_money,
			</if>
			<if test="assessMoney != null">
				assess_money,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="ownerName != null">
				#{ownerName,jdbcType=VARCHAR},
			</if>
			<if test="ownerCardid != null">
				#{ownerCardid,jdbcType=VARCHAR},
			</if>
			<if test="ownerMobile != null">
				#{ownerMobile,jdbcType=VARCHAR},
			</if>
			<if test="ownerAddress != null">
				#{ownerAddress,jdbcType=VARCHAR},
			</if>
			<if test="carNumber != null">
				#{carNumber,jdbcType=VARCHAR},
			</if>
			<if test="certificationDate != null">
				#{certificationDate,jdbcType=DATE},
			</if>
			<if test="registerDate != null">
				#{registerDate,jdbcType=DATE},
			</if>
			<if test="checkValidDate != null">
				#{checkValidDate,jdbcType=DATE},
			</if>
			<if test="carLicense != null">
				#{carLicense,jdbcType=VARCHAR},
			</if>
			<if test="carStrutNum != null">
				#{carStrutNum,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="brand != null">
				#{brand,jdbcType=VARCHAR},
			</if>
			<if test="buyMoney != null">
				#{buyMoney,jdbcType=DECIMAL},
			</if>
			<if test="assessMoney != null">
				#{assessMoney,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.vfunding.vfunding.biz.borrow.model.MortgageCar">
		update rd_mortgage_car
		<set>
			<if test="ownerName != null">
				owner_name = #{ownerName,jdbcType=VARCHAR},
			</if>
			<if test="ownerCardid != null">
				owner_cardId = #{ownerCardid,jdbcType=VARCHAR},
			</if>
			<if test="ownerMobile != null">
				owner_mobile = #{ownerMobile,jdbcType=VARCHAR},
			</if>
			<if test="ownerAddress != null">
				owner_address = #{ownerAddress,jdbcType=VARCHAR},
			</if>
			<if test="carNumber != null">
				car_number = #{carNumber,jdbcType=VARCHAR},
			</if>
			<if test="certificationDate != null">
				certification_date = #{certificationDate,jdbcType=DATE},
			</if>
			<if test="registerDate != null">
				register_date = #{registerDate,jdbcType=DATE},
			</if>
			<if test="checkValidDate != null">
				check_valid_date = #{checkValidDate,jdbcType=DATE},
			</if>
			<if test="carLicense != null">
				car_license = #{carLicense,jdbcType=VARCHAR},
			</if>
			<if test="carStrutNum != null">
				car_strut_num = #{carStrutNum,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="brand != null">
				brand = #{brand,jdbcType=VARCHAR},
			</if>
			<if test="buyMoney != null">
				buy_money = #{buyMoney,jdbcType=DECIMAL},
			</if>
			<if test="assessMoney != null">
				assess_money = #{assessMoney,jdbcType=DECIMAL},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.vfunding.vfunding.biz.borrow.model.MortgageCar">
		update
		rd_mortgage_car
		set owner_name = #{ownerName,jdbcType=VARCHAR},
		owner_cardId = #{ownerCardid,jdbcType=VARCHAR},
		owner_mobile =
		#{ownerMobile,jdbcType=VARCHAR},
		owner_address =
		#{ownerAddress,jdbcType=VARCHAR},
		car_number =
		#{carNumber,jdbcType=VARCHAR},
		certification_date =
		#{certificationDate,jdbcType=DATE},
		register_date =
		#{registerDate,jdbcType=DATE},
		check_valid_date =
		#{checkValidDate,jdbcType=DATE},
		car_license =
		#{carLicense,jdbcType=VARCHAR},
		car_strut_num =
		#{carStrutNum,jdbcType=VARCHAR},
		add_time =
		#{addTime,jdbcType=TIMESTAMP},
		brand = #{brand,jdbcType=VARCHAR},
		buy_money = #{buyMoney,jdbcType=DECIMAL},
		assess_money =
		#{assessMoney,jdbcType=DECIMAL}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>