<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.vfunding.vfunding.biz.newyears.dao.ActivityNewyearMapper" >
  <resultMap id="BaseResultMap" type="cn.vfunding.vfunding.biz.newyears.model.ActivityNewyear" >
    <id column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="hongbao" property="hongbao" jdbcType="DECIMAL" />
    <result column="hikes" property="hikes" jdbcType="DECIMAL" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    phone, hongbao, hikes, addtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from vf_activity_newyear
    where phone = #{phone,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from vf_activity_newyear
    where phone = #{phone,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.vfunding.vfunding.biz.newyears.model.ActivityNewyear" >
    insert into vf_activity_newyear (phone, hongbao, hikes, 
      addtime)
    values (#{phone,jdbcType=VARCHAR}, #{hongbao,jdbcType=DECIMAL}, #{hikes,jdbcType=DECIMAL}, 
      #{addtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.vfunding.vfunding.biz.newyears.model.ActivityNewyear">
    insert into vf_activity_newyear
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="phone != null" >
        phone,
      </if>
      <if test="hongbao != null" >
        hongbao,
      </if>
      <if test="hikes != null" >
        hikes,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="hongbao != null" >
        #{hongbao,jdbcType=DECIMAL},
      </if>
      <if test="hikes != null" >
        #{hikes,jdbcType=DECIMAL},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.vfunding.vfunding.biz.newyears.model.ActivityNewyear" >
    update vf_activity_newyear
    <set >
      <if test="hongbao != null" >
        hongbao = #{hongbao,jdbcType=DECIMAL},
      </if>
      <if test="hikes != null" >
        hikes = #{hikes,jdbcType=DECIMAL},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where phone = #{phone,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.vfunding.vfunding.biz.newyears.model.ActivityNewyear" >
    update vf_activity_newyear
    set hongbao = #{hongbao,jdbcType=DECIMAL},
      hikes = #{hikes,jdbcType=DECIMAL},
      addtime = #{addtime,jdbcType=TIMESTAMP}
    where phone = #{phone,jdbcType=VARCHAR}
  </update>
  <!-- 根据手机号获取实体 -->
  <select id="selectByPhone" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from vf_activity_newyear
    where phone = #{phone,jdbcType=VARCHAR}
  </select>
</mapper>