@CHARSET "UTF-8";
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: "微软雅黑";
	text-shadow: none;
}
.page{
	max-width: 640px;
	min-width: 320px;
	width:100%;
	margin:0 auto;
	height: auto;
	position: relative;
	background-color: #b4b4b4;
}
.top{
	max-width: 640px;
	min-width: 320px;
	width:100%;
	width: 100%;
	background-color: #fff;
	z-index: 999;
	position: fixed;
	top:0;
}
.top img {
	float: left;
}
.top  a{
	width: 100%;
	display: block;
	text-align: center;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
} 
.top span{
	position: absolute;
	top:20%;
	left:2%;
}
.form{
	width: 100%;
	background-color: #fff;
	margin-top: 55px;
	height: 40px;
	position: relative;
}
.form input{
	background-color: #fff;
	color: #666;
}
div.ui-input-text {
	/*padding: 0 .4em*/
	border: none;
	background-color: #fff;
	height: 40px;
}
.form a{
	width: 30%;
	height: 40px;
	display: block;
	float: right;
	border-left: 1px solid #f0f0f0;
	text-align: center;
	line-height:40px;
	position: absolute;
	top:0px;
	right:0px;
	color: #008ef2;
}
.second{
	margin-top: 15px;
}
.form label {
	float: left;
	margin-left: 15px;
	line-height: 40px;
}
.third{
	margin-top: 0px;
	border-top: 1px solid #f0f0f0;
}
.ture a{
	width: 90%;
	margin-left: 5%;
	margin-top: 30px;
	line-height: 40px;
	text-align: center;
	background-color: #fdb82c;
	color: #fff;
	font-size: 20px;
	display: block;
	border-radius:5px;
}
.error{
	width: 95%;
	margin: 5px auto;
	color: red;
}