<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.vfunding.vfunding.biz.usertoken.dao.UserTokenMapper" >
  <resultMap id="BaseResultMap" type="cn.vfunding.vfunding.biz.usertoken.model.UserToken" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="os_type" property="osType" jdbcType="VARCHAR" />
    <result column="mac" property="mac" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, token, os_type, mac, addtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vf_user_token
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vf_user_token
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.vfunding.vfunding.biz.usertoken.model.UserToken" >
    insert into vf_user_token (id, user_id, token, 
      os_type, mac, addtime)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{token,jdbcType=VARCHAR}, 
      #{osType,jdbcType=VARCHAR}, #{mac,jdbcType=VARCHAR}, #{addtime})
  </insert>
  <insert id="insertSelective" parameterType="cn.vfunding.vfunding.biz.usertoken.model.UserToken" >
    insert into vf_user_token
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="osType != null" >
        os_type,
      </if>
      <if test="mac != null" >
        mac,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="osType != null" >
        #{osType,jdbcType=VARCHAR},
      </if>
      <if test="mac != null" >
        #{mac,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.vfunding.vfunding.biz.usertoken.model.UserToken" >
    update vf_user_token
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="osType != null" >
        os_type = #{osType,jdbcType=VARCHAR},
      </if>
      <if test="mac != null" >
        mac = #{mac,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.vfunding.vfunding.biz.usertoken.model.UserToken" >
    update vf_user_token
    set user_id = #{userId,jdbcType=INTEGER},
      token = #{token,jdbcType=VARCHAR},
      os_type = #{osType,jdbcType=VARCHAR},
      mac = #{mac,jdbcType=VARCHAR},
      addtime = #{addtime}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectBySelective" parameterType="cn.vfunding.vfunding.biz.usertoken.model.UserToken" resultMap="BaseResultMap">
  select 
    <include refid="Base_Column_List" />
    from vf_user_token
    where 1 =1 
    <if test="token != null" >
        and token = #{token,jdbcType=VARCHAR}
      </if>
      <if test="osType != null" >
       and os_type = #{osType,jdbcType=VARCHAR}
      </if>
      <if test="mac != null" >
       and mac = #{mac,jdbcType=VARCHAR}
      </if>
      <if test="id != null">
      and id = #{id}
      </if>
      <if test="userId != null">
      and user_id = #{userId}
      </if>
      <if test="addtime != null">
      and addtime = #{addtime}
      </if>
  </select>
</mapper>