<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.vfunding.vfunding.biz.bms_system.dao.SysResourceMapper" >
  <resultMap id="BaseMap" type="cn.vfunding.vfunding.biz.bms_system.model.SysResource" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="resourcetype_id" property="resourcetypeId" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="BaseResultMap"
		type="cn.vfunding.vfunding.biz.bms_system.model.SysResource" extends="BaseMap">
		<association property="resourceType"
			javaType="cn.vfunding.vfunding.biz.bms_system.model.SysResourceType">
			<id column="type_id" property="id" jdbcType="INTEGER" />
			<result column="type_name" property="name" jdbcType="VARCHAR" />
		</association>

		<association property="resourceGroup"
			javaType="cn.vfunding.vfunding.biz.bms_system.model.SysResourceGroup">
			<id column="group_group_id" property="id" jdbcType="INTEGER" />
			<result column="group_group_name" property="name" jdbcType="VARCHAR" />
		</association>
	</resultMap>
	
	<sql id="all_list_column">
		vf_resource.id,
		vf_resource.icon,
		vf_resource.`name`,
		vf_resource.remark,
		vf_resource.seq,
		vf_resource.url,
		vf_resource.pid,
		vf_resource.resourcetype_id,
		vf_resource.group_id
	</sql>
 <sql id="Base_Column_List">
		vf_resource.id,
		vf_resource.icon,
		vf_resource.`name`,
		vf_resource.remark,
		vf_resource.seq,
		vf_resource.url,
		vf_resource.pid,
		vf_resource.resourcetype_id,
		vf_resource.group_id,
		vf_resource_group.id as group_group_id,
		vf_resource_group.`name` as
		group_group_name,
		vf_resource_type.id as type_id,
		vf_resource_type.`name` as type_name
	</sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		FROM vf_resource
		left JOIN vf_resource_group ON vf_resource_group.id
		=
		vf_resource.group_id
		left JOIN vf_resource_type ON
		vf_resource_type.id
		=
		vf_resource.resourcetype_id
		where vf_resource.id
		=
		#{id,jdbcType=VARCHAR}
	</select>

	<!-- 资源列表数据 -->
	<select id="selectResourceListByTreeGrid" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		FROM vf_resource
		left JOIN vf_resource_group ON vf_resource_group.id
		=vf_resource.group_id
		left JOIN vf_resource_type ON
		vf_resource_type.id =
		vf_resource.resourcetype_id
		where 1=1
	</select>

	<!-- 查询所有资源 创建树形用 -->
	<select id="selectResourceList" resultMap="BaseMap">
		select
		<include refid="all_list_column" />
		FROM vf_resource where 1=1
	</select>
	<!-- 根据parentId 查询 -->
	<select id="selectByParentId" resultMap="BaseMap" parameterType="java.lang.String">
		select
		<include refid="all_list_column" />
		FROM vf_resource where pid=#{pid,jdbcType=VARCHAR}
	</select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from vf_resource
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.vfunding.vfunding.biz.bms_system.model.SysResource" >
    insert into vf_resource (id, icon, name, 
      remark, seq, url, pid, 
      resourcetype_id, group_id)
    values (#{id,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{seq,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, 
      #{resourcetypeId,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.vfunding.vfunding.biz.bms_system.model.SysResource" >
    insert into vf_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="seq != null" >
        seq,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="resourcetypeId != null" >
        resourcetype_id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="resourcetypeId != null" >
        #{resourcetypeId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.vfunding.vfunding.biz.bms_system.model.SysResource" >
    update vf_resource
    <set >
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        seq = #{seq,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="resourcetypeId != null" >
        resourcetype_id = #{resourcetypeId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.vfunding.vfunding.biz.bms_system.model.SysResource" >
    update vf_resource
    set icon = #{icon,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR},
      resourcetype_id = #{resourcetypeId,jdbcType=INTEGER},
      group_id = #{groupId,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>