<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.vfunding.vfunding.biz.user.dao.UserTypeMapper" >
  <resultMap id="BaseResultMap" type="cn.vfunding.vfunding.biz.user.model.UserType" >
    <id column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="order" property="order" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="VARCHAR" />
    <result column="addip" property="addip" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.vfunding.vfunding.biz.user.model.UserType" extends="BaseResultMap" >
    <result column="purview" property="purview" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    type_id, name, `order`, status, type, summary, remark, addtime, addip
  </sql>
  <sql id="Blob_Column_List" >
    purview
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from rd_user_type
    where type_id = #{typeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rd_user_type
    where type_id = #{typeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.vfunding.vfunding.biz.user.model.UserType" >
    insert into rd_user_type (type_id, name, `order`, 
      status, type, summary, 
      remark, addtime, addip, 
      purview)
    values (#{typeId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{order,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{summary,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR}, #{addip,jdbcType=VARCHAR}, 
      #{purview,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.vfunding.vfunding.biz.user.model.UserType" >
    insert into rd_user_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="order != null" >
        `order`,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="addip != null" >
        addip,
      </if>
      <if test="purview != null" >
        purview,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="order != null" >
        #{order,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=VARCHAR},
      </if>
      <if test="addip != null" >
        #{addip,jdbcType=VARCHAR},
      </if>
      <if test="purview != null" >
        #{purview,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.vfunding.vfunding.biz.user.model.UserType" >
    update rd_user_type
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="order != null" >
        `order` = #{order,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
      <if test="addip != null" >
        addip = #{addip,jdbcType=VARCHAR},
      </if>
      <if test="purview != null" >
        purview = #{purview,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where type_id = #{typeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.vfunding.vfunding.biz.user.model.UserType" >
    update rd_user_type
    set name = #{name,jdbcType=VARCHAR},
      `order` = #{order,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      summary = #{summary,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=VARCHAR},
      addip = #{addip,jdbcType=VARCHAR},
      purview = #{purview,jdbcType=LONGVARCHAR}
    where type_id = #{typeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.vfunding.vfunding.biz.user.model.UserType" >
    update rd_user_type
    set name = #{name,jdbcType=VARCHAR},
      `order` = #{order,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      summary = #{summary,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=VARCHAR},
      addip = #{addip,jdbcType=VARCHAR}
    where type_id = #{typeId,jdbcType=INTEGER}
  </update>
</mapper>