<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.vfunding.vfunding.biz.user.dao.UserFromDictionaryMapper">
	<resultMap id="BaseResultMap"
		type="cn.vfunding.vfunding.biz.user.model.UserFromDictionary">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="from_name" property="fromName" jdbcType="VARCHAR" />
		<result column="from_key" property="fromKey" jdbcType="VARCHAR" />
		<result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, from_name, from_key, addtime
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from vf_user_from_dictionary
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectAllFromDictionary" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from vf_user_from_dictionary
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		vf_user_from_dictionary
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="cn.vfunding.vfunding.biz.user.model.UserFromDictionary">
		insert into vf_user_from_dictionary (id, from_name,
		from_key,
		addtime)
		values (#{id,jdbcType=INTEGER},
		#{fromName,jdbcType=VARCHAR},
		#{fromKey,jdbcType=VARCHAR},
		#{addtime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective"
		parameterType="cn.vfunding.vfunding.biz.user.model.UserFromDictionary">
		insert into vf_user_from_dictionary
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="fromName != null">
				from_name,
			</if>
			<if test="fromKey != null">
				from_key,
			</if>
			<if test="addtime != null">
				addtime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="fromName != null">
				#{fromName,jdbcType=VARCHAR},
			</if>
			<if test="fromKey != null">
				#{fromKey,jdbcType=VARCHAR},
			</if>
			<if test="addtime != null">
				#{addtime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="cn.vfunding.vfunding.biz.user.model.UserFromDictionary">
		update vf_user_from_dictionary
		<set>
			<if test="fromName != null">
				from_name = #{fromName,jdbcType=VARCHAR},
			</if>
			<if test="fromKey != null">
				from_key = #{fromKey,jdbcType=VARCHAR},
			</if>
			<if test="addtime != null">
				addtime = #{addtime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="cn.vfunding.vfunding.biz.user.model.UserFromDictionary">
		update vf_user_from_dictionary
		set from_name =
		#{fromName,jdbcType=VARCHAR},
		from_key = #{fromKey,jdbcType=VARCHAR},
		addtime = #{addtime,jdbcType=TIMESTAMP}
		where id =
		#{id,jdbcType=INTEGER}
	</update>
</mapper>