<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!--创建连接工厂 -->
	<bean id="jms.connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL">
			<value>${jms.address}</value>
		</property>
	</bean>

	<!-- 声明ActiveMQ消息目标,目标可以是一个队列，也可以是一个主题ActiveMQTopic -->
	<bean id="jms.destination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="vfunding.union"></constructor-arg><!-- 
			通道 -->
	</bean>

	<bean id="jms.template" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jms.connectionFactory"></property>
		<property name="defaultDestination" ref="jms.destination"></property>
		<property name="receiveTimeout" value="600"></property>
	</bean>

	<!-- 消息监听 -->
	<bean id="jms.listenerContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="concurrentConsumers" value="10" />
		<property name="connectionFactory" ref="jms.connectionFactory" />
		<property name="destination" ref="jms.destination" />
		<property name="messageListener" ref="jms.messageReceiver" />
		<property name="pubSubNoLocal" value="false"></property>
		<property name="sessionTransacted" value="true"></property> <!-- if messageListener throw exception , message already exists! -->
	</bean>

	<bean id="jms.messageReceiver" class="cn.vfunding.common.framework.jms.activemq.JmsReceiver">
		<property name="jmsTemplate" ref="jms.template"></property>
		<property name="destination" ref="jms.destination">
		</property>
	</bean>

</beans>