<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.vfunding.vfunding.biz.trial.dao.GiftboxBatchInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.vfunding.vfunding.biz.trial.model.GiftboxBatchInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="send_user" property="sendUser" jdbcType="INTEGER" />
    <result column="receive_user" property="receiveUser" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="take_time" property="takeTime" jdbcType="TIMESTAMP" />
    <result column="lose_time" property="loseTime" jdbcType="TIMESTAMP" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="batch_id" property="batchId" jdbcType="INTEGER" />
    <result column="otherData" property="otherdata" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, send_user, receive_user, money, title, type, take_time, lose_time, addtime, batch_id, 
    otherData,content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vf_giftbox_batch_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vf_giftbox_batch_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.vfunding.vfunding.biz.trial.model.GiftboxBatchInfo" >
    insert into vf_giftbox_batch_info (id, send_user, receive_user, 
      money, title, type, 
      take_time, lose_time, addtime, 
      batch_id, otherData,content)
    values (#{id,jdbcType=INTEGER}, #{sendUser,jdbcType=INTEGER}, #{receiveUser,jdbcType=INTEGER}, 
      #{money,jdbcType=DECIMAL}, #{title,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{takeTime,jdbcType=TIMESTAMP}, #{loseTime,jdbcType=TIMESTAMP}, #{addtime,jdbcType=TIMESTAMP}, 
      #{batchId,jdbcType=INTEGER}, #{otherdata,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.vfunding.vfunding.biz.trial.model.GiftboxBatchInfo" >
    insert into vf_giftbox_batch_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sendUser != null" >
        send_user,
      </if>
      <if test="receiveUser != null" >
        receive_user,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="takeTime != null" >
        take_time,
      </if>
      <if test="loseTime != null" >
        lose_time,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="batchId != null" >
        batch_id,
      </if>
      <if test="otherdata != null" >
        otherData,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sendUser != null" >
        #{sendUser,jdbcType=INTEGER},
      </if>
      <if test="receiveUser != null" >
        #{receiveUser,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="takeTime != null" >
        #{takeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loseTime != null" >
        #{loseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="batchId != null" >
        #{batchId,jdbcType=INTEGER},
      </if>
      <if test="otherdata != null" >
        #{otherdata,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.vfunding.vfunding.biz.trial.model.GiftboxBatchInfo" >
    update vf_giftbox_batch_info
    <set >
      <if test="sendUser != null" >
        send_user = #{sendUser,jdbcType=INTEGER},
      </if>
      <if test="receiveUser != null" >
        receive_user = #{receiveUser,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="takeTime != null" >
        take_time = #{takeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loseTime != null" >
        lose_time = #{loseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="batchId != null" >
        batch_id = #{batchId,jdbcType=INTEGER},
      </if>
      <if test="otherdata != null" >
        otherData = #{otherdata,jdbcType=VARCHAR},
      </if>
      <if test="otherdata != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.vfunding.vfunding.biz.trial.model.GiftboxBatchInfo" >
    update vf_giftbox_batch_info
    set send_user = #{sendUser,jdbcType=INTEGER},
      receive_user = #{receiveUser,jdbcType=INTEGER},
      money = #{money,jdbcType=DECIMAL},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      take_time = #{takeTime,jdbcType=TIMESTAMP},
      lose_time = #{loseTime,jdbcType=TIMESTAMP},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      batch_id = #{batchId,jdbcType=INTEGER},
      otherData = #{otherdata,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByBacthId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select 
    <include refid="Base_Column_List" />
    from vf_giftbox_batch_info
    where batch_id = #{batchId,jdbcType=INTEGER}
  </select>
</mapper>