@charset "utf-8";
/* CSS Document */
@import url(base.css);
@import url(top.css);
@import url(bottom.css);
.content-wrap{ background-color:#fff; margin:20px 0; padding:10px 0;}
.cmb-img{ margin:20px 0; text-align:center;}
.respect{ margin-top:20px; padding:10px 150px; line-height:24px;}
p.team{ text-align:right;}