@charset "utf-8";
/* CSS Document */

@import url(base.css);
h1,h2,h3,h4,h5,h6{ font-weight:normal; text-align:center;}
.content{ background:#fff; }
.content p{ line-height:24px;}
.grid780{ width:780px; margin:20px auto 30px;padding:20px 0;}
.agreement-title{ font-size:35px; text-align:center;}
.txt-center{ text-align:center;}
.mb20{ margin-bottom:20px;}
.text-indent{ text-indent:30px;}
span.item-num{ width:100px; display:block; line-height:26px; text-align:center; font-size:16px; 
}
ol.items li{ overflow:hidden;}
.item{ margin-bottom:30px;}
p.item-cont{ width:680px; display:block;}