
@charset "utf-8";
/* CSS Document */

@import url(base.css);
@import url(top.css);
@import url(bottom.css);
.sinaPayUse{width:800px;padding: 20px 100px; background-color: #fff; margin: 20px auto;}
h1.title{font-size: 30px; text-align: center; line-height: 60px;}
h2.sub-title{text-align: center;padding: 10px 0;}
.cnt h3{
    line-height: 36px;
}
.cnt p{
    line-height: 26px;
}
.cnt p span{font-weight: bold;}
.tip span{font-weight: bold; line-height: 26px;}