.suggest_lib {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d3d8dc;
    display: none;
    overflow: hidden;
    position: absolute;
    width: 220px;
    z-index: 999;
}
.suggest_lib .suggest_head {
    background: none repeat scroll 0 0 #f0f5f7;
    font-family: Simyou;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 2px 0 2px 9px;
    word-wrap: break-word;
}
.suggest_lib .suggest_cont {
}
.suggest_lib .suggest_cont a {
    color: #8a949c;
    cursor: pointer;
    display: block;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding: 0 9px;
    text-align: left;
    text-decoration: none;
}
.suggest_lib .suggest_cont a:visited {
    color: #8a949c;
}
.suggest_lib .suggest_cont b {
    display: inline;
    float: left;
    font-weight: normal;
}
.suggest_lib .suggest_cont span {
    float: right;
}
.suggest_lib .suggest_cont a.selected {
    background: none repeat scroll 0 0 #a1acb4;
    color: #fff;
}
.suggest_lib .pager-city {
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.suggest_lib .pager-city a {
    color: #0055aa;
    font-family: Tahoma;
    font-size: 14px;
    padding: 0 4px;
    text-decoration: underline;
}
.suggest_lib .pager-city .current {
    color: #000;
    text-decoration: none;
}
.pop_lib {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #50575f;
    display: none;
    font-size: 12px;
    position: absolute;
    width: 360px;
    z-index: 999;
}
.pop_lib .pop_head {
    background: none repeat scroll 0 0 #73919e;
    border-color: #2c7ecf;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #fff;
    height: 24px;
    line-height: 24px;
    padding-left: 10px;
}
.pop_lib .pop_label {
    border-bottom: 1px solid #5da9e2;
    list-style: none outside none;
    margin: 15px 0 10px;
    padding: 0 0 24px 4px;
}
.pop_lib .pop_label li {
    display: inline;
    float: left;
    height: 24px;
    line-height: 24px;
    margin-left: 8px;
}
.pop_lib .pop_label li a {
    background: none repeat scroll 0 0 #fff;
    color: #0055aa;
    cursor: pointer;
    padding: 0 4px;
    text-decoration: none;
}
.pop_lib .pop_label li a:hover {
    color: #005d00;
}
.pop_lib .pop_label li a.current {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #fff;
    border-color: #5da9e2 #5da9e2 #fff;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #666;
    display: block;
    font-weight: bold;
    padding: 0 4px;
}
.pop_lib .pop_cont {
    margin-bottom: 20px;
    padding: 4px;
}
.pop_lib .pop_cont ul {
}
.pop_lib .pop_cont ul li {
    float: left;
    margin-right: 3px;
    width: 18%;
}
.pop_lib .pop_cont ul li a {
    border: 1px solid #fff;
    color: #000;
    display: block;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding: 2px 0;
    text-decoration: none;
}
.pop_lib .pop_cont ul li a:hover {
    background: none repeat scroll 0 0 #e8f4ff;
    border: 1px solid #acccef;
}
.select_items {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #b8bcbf;
    display: none;
    position: absolute;
    width: 200px;
    z-index: 999;
}
.select_items li a {
    display: block;
    height: 22px;
    line-height: 22px;
    padding: 0 4px;
}
.select_items li a:hover {
    text-decoration: none;
}
.select_items li a.current {
    background: none repeat scroll 0 0 #73919e;
    color: #fff;
}
.select_items li a.current:visited {
    color: #fff;
}
.iframe_cover {
    display: block;
    height: 400px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 100%;
    z-index: -1;
}