@charset "utf-8";
/* CSS Document */

@import url(base.css);
@import url(top.css);
@import url(bottom.css);
.content{ background-color:#fff; margin:20px auto;}
.site-map{ width:960px; height:400px; margin:20px auto; }
.site-map-title{ height:54px; line-height:54px; font-size:20px; color:#0065b4; border-bottom:1px solid #eee; font-weight:bold; margin-bottom:30px;}
dl.site-map-item{ height:46px; line-height:46px; margin-bottom:10px;}
dl.site-map-item dt,dd{ float:left; padding:0 10px;}
dl.site-map-item dt{ color:#0065b4; font-size:18px;}
dl.site-map-item dd a:hover{ color:#00a0e9;}
.even-bg{ background:#f0faff;}