
@import url(base.css);
@import url(top.css);
@import url(bottom.css);
@import url(accountLeft.css);
.myAccount{   margin:30px 0; clear:both;height:auto!important; }

/*****账户总览右栏***/
.rechargeTakeCash{ width:820px; *overflow:hidden;height:auto!important;}

.rT{ background:#fff;height:940px; margin-bottom:30px; }
.rTWrap{ width:780px; margin:0 auto; overflow:hidden; position:relative;}
.txTop{ height:58px;overflow:hidden; }
b.midLine{ height:1px; font-size:0; width:100%; background:#eeeeee; position:absolute; top:28px; left:0;  overflow:hidden;}
.txTop h2,.excel{ height:22px; line-height:22px; position:absolute;background-color:#fff;}
.txTop h2{ top:17px; left:24px; font-size:20px; color:#0065b4; padding:0 6px; z-index:9; }
.excel{ top:17px; left:600px;  cursor:pointer; padding:0 18px 0 8px; z-index:9;}

.zn-msg{ height:23px; margin:17px auto; position:relative; }
.msg-title{ text-indent:32px; line-height:23px; position:relative; display:block; position:absolute; left:30px; top:0; cursor:pointer;}
.msg-title:hover{color:#00a0e9;}


.msgNav,.msgNav ul{
    height: 40px;
}

.msgNav li{
    width: 386px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    margin-right: 2px;
    cursor: pointer;
}

.unactive{
    background: #f5f7f8;
}

.active{
    background: #00a0e9;
    color: #fff;
}





.messages{height:auto!important; margin-top:10px; }

.zn-msg{ height:23px; margin:17px auto; position:relative;}


.msgbg{ background: url(../images/account/msg.png) no-repeat; }
i.xf1{ width:23px; height:16px; background-position: 0 0; overflow:hidden; position:absolute; left:0; top:3px; display:inline-block;}
i.xf2{ width:23px; height:23px; background-position:0 -16px;position:absolute; left:0; top:0; display:inline-block;}
.cancel{ width:34px; height:24px;  cursor:pointer;}
#ref:hover{color:#00a0e9;}
.cancel{ width:24px; height:24px; background:url(../images/account/cancel.png) no-repeat; cursor:pointer; position:absolute; right:30px; top:0;}
.msg-time{ width:136px; height:23px; line-height:23px; padding-right:10px; text-align:right; position:absolute; right:150px; top:0;}
.msgTip{ width:720px; height:80px; padding:10px; margin:20px auto; background-color:#f5f7f8; line-height:20px;}

.msg-content{ padding:20px; line-height:24px; background:#f5f7f8; margin:0 0 20px; display:none;}

.msg-bar{ height:30px; line-height:30px; text-align:right; margin-bottom:10px;margin-top:10px;}
.msg-bar a:hover{color:#00a0e9;}
.msg-bar em{ color:#00a0e9; font-style:normal;}
.msg-nav{ height:46px; line-height:46px; background:#ececec; position:relative;}
span.topic,span.topic-time,span.topic-delete{ position:absolute;}
span.topic{ left:100px;}
span.topic-time{ left:550px;}
span.topic-delete{ right:30px;}
.tab-control{ height:30px;  position:relative;}
.tab-control a{ display: inline-block; margin-right: 10px; cursor: pointer;}
 a.qx:hover,a.didRead:hover,a.delete:hover,a.didRead:active,a.delete:active,a.unread:hover{ color:#00a0e9; cursor:pointer;}
/* 
a.didRead,a.delete{ position:absolute;}
a.didRead{ left:80px;}
a.delete{ left:80px;} 

*/
#page-control{height:32px;margin-top:30px; position:relative;}
#page-control a:hover{background:#f1f1f1;}
a.prevPage,a.nextPage{display:block; width:100px;position:absolute; height:30px;line-height:30px; text-align:center; border:1px solid #ccc; }
a.prevPage{left:200px;}
a.nextPage{right:190px;}
span.showNum{position:absolute; left:330px;top:6px;}



