@charset "utf-8";
/* CSS Document */
@import url(base.css);
@import url(top.css);
@import url(bottom.css);
.register{ width:970px; height:600px; margin:30px auto; background-color:#fff; padding:20px;font-size:12px;}
.reg_content{ height:600px;}
.reg_logo{ height:50px; position:relative;}

.reg_logo_pic{ width:162px; height:50px; background:url(../images/register/res_bg.png) no-repeat; position:absolute; top:0; left:0;}
.go_login{ width:166px; line-height:22px; position:absolute; right:0; bottom:0; color:#00a0e9; text-align:right; }
a.go_login:hover{color:#00afff;}
.reg_conditions{ height:530px; margin-top:10px; border-top:1px solid #e7e7e7; padding-top:20px;}
div.reg_conditions .reg_step{ height:51px; display:block; }
.reg_step li{ width:323px; height:51px; float:left; background:#eeeeee;}

.reg_step li.step1{background:url(../images/register/step_arrow.png) no-repeat right -59px #00a0e9;}

.reg_step li.step1 .step_msg,.reg_step li.step2 .step_msg,.reg_step li.step3 .step_msg{ width:110px; height:51px; line-height:51px; padding-left:84px; float:left; display:inline; position: relative; color:#fff; font-size:18px;}
span.step_msg .dot24{ width:24px; height:24px;  position:absolute; left:52px; top:13px; line-height:24px; text-align:center; font-size:18px;  font-family:Arial, Helvetica, sans-serif; background:url(../images/register/dot24.png) no-repeat; color:#888888;}

.reg_step li.step1 .whiteColor{ color:#fff;}
.reg_step li.step2{ background:url(../images/register/step_arrow.png) no-repeat right -59px #eeeeee;}
.reg_step li.step2 .step_msg,.reg_step li.step3 .step_msg{ color:#888888;}
.reg_step li.step2 .step_msg .dot24,.reg_step li.step3 .step_msg .dot24{ color:#888888;}
.form_validator{ width:700px; height:450px; margin:0 auto; padding-top:20px; }
.ui-form-item{ height:70px; padding-bottom:5px; position:relative;}
.ui-form-item .ui-input{ padding:10px 9px; width:250px; font-size:16px;}


.ui-form .pl60{ padding-left:60px;}
.ui-form .input_tip{ position:absolute; color:#ABABAB; left:230px;top:14px; display:block;}
.ui-form .submit_btn{ width:225px; height:50px; background:#ff8636; font-size:24px; color:#fff; border:0 none; cursor:pointer; outline:none; display:block; font-family:"微软雅黑"; border-radius:4px;}
.ui-form .submit_btn:hover{background:#ffa836;}
.ui-form .h40{ height:40px;}

label.error,label.valid{ height:24px; line-height:24px; background:url(../images/register/wrong.png) no-repeat 10px 0; padding:0 0 4px 40px;color:#888; }
label.valid{ background:url(../images/register/right.png) no-repeat 10px 0; }
.psw-streng{ width:200px; height:20px; margin:6px 0 0 194px; }
.psw-streng div{   
     background-image: url(../images/range.png);
    background-repeat: no-repeat;
   display:none;
    height: 20px;
    width: 127px;
}

 .psw-streng .low {
    background-position: 0 0;
}
.psw-streng .mid {
    background-position: 0 -27px;
}
 .psw-streng .high {
    background-position: 0 -55px;
}

.us_bg{ background:url(../images/register/us_bg.png) no-repeat;}

#username{ background-position:0 0;}
#password,#rePassword{ background-position:0 -38px;}
#introducer{ background-position:0 -114px;}
.ui-form-item .ui-checkbox{  display:inline-block; }

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
border: 0;
outline : 0;
}
a.agreement{color:#00a0e9;}
a.agreement:hover{color:#00afff;}