<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.vfunding.vfunding.biz.system.dao.PicMapper" >
  <resultMap id="BaseResultMap" type="cn.vfunding.vfunding.biz.system.model.Pic" >
    <id column="pickey" property="pickey" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pickey, url, description
  </sql>
  
  <select id="selectListPage" resultMap="BaseResultMap" parameterType="cn.vfunding.common.framework.utils.page.PageSearch">
		select
		<include refid="Base_Column_List" />
		from vf_pic
 </select>
 
 <select id="selectAll" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from vf_pic
 </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from vf_pic
    where pickey = #{pickey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from vf_pic
    where pickey = #{pickey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.vfunding.vfunding.biz.system.model.Pic" >
    insert into vf_pic (pickey, url, description
      )
    values (#{pickey,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.vfunding.vfunding.biz.system.model.Pic" >
    insert into vf_pic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pickey != null" >
        pickey,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pickey != null" >
        #{pickey,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.vfunding.vfunding.biz.system.model.Pic" >
    update vf_pic
    <set >
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where pickey = #{pickey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.vfunding.vfunding.biz.system.model.Pic" >
    update vf_pic
    set url = #{url,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where pickey = #{pickey,jdbcType=VARCHAR}
  </update>
</mapper>