<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.vfunding.vfunding.biz.account.dao.AccountFeelMapper" >
  <resultMap id="BaseResultMap" type="cn.vfunding.vfunding.biz.account.model.AccountFeel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="total" property="total" jdbcType="DECIMAL" />
    <result column="use_money" property="useMoney" jdbcType="DECIMAL" />
    <result column="no_use_money" property="noUseMoney" jdbcType="DECIMAL" />
    <result column="collection" property="collection" jdbcType="DECIMAL" />
    <result column="other" property="other" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="cn.vfunding.vfunding.biz.common.vo.FeelVO">
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="no" property="no" jdbcType="VARCHAR" />
    <result column="useStatus" property="useStatus" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="INTEGER" />
    <result column="bindingStatus" property="bindingStatus" jdbcType="VARCHAR" />
    <result column="bid" property="bid" jdbcType="INTEGER" />
    <result column="bname" property="bname" jdbcType="VARCHAR" />
    <result column="limitDay" property="limitDay" jdbcType="INTEGER" />
    <result column="repayTime" property="repayTime" jdbcType="INTEGER" />
    <result column="interest" property="interest" jdbcType="DECIMAL" />
    <result column="account" property="account" jdbcType="DECIMAL" />
    <result column="repayStatus" property="repayStatus" jdbcType="INTEGER" />
    <result column="currentPage" property="currentPage" jdbcType="INTEGER" />
    <result column="pageSize" property="pageSize" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="firstRecharge" property="firstRecharge" jdbcType="VARCHAR" />
    <result column="tenders" property="tenders" jdbcType="VARCHAR" />
    <result column="groupname" property="groupname" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, user_id, total, use_money, no_use_money, collection,other
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rd_account_feel
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 根据用户ID查询账户信息 -->
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rd_account_feel
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  
  <!-- 
  	select rf.no as no,ifnull(rf.`status`,0) as useStatus ,rf.addtime as addtime,ifnull(ifnull(u.username,rf.group_name),'无') as username 
	,ifnull(ifnull(u.username,rf.group_name),0) as bindingStatus
	from rd_feel rf
	left join rd_user u on rf.user_id=u.user_id where 1=1
   -->
  <!-- 绑定理财师列表 for php -->
  <select id="selectFeelsListPage" resultMap="BaseResultMap2" parameterType="cn.vfunding.common.framework.utils.page.PageSearch" >
	select a.no,a.status useStatus,a.addtime as addtime,
	ifnull(ifnull(e.username,a.group_name),'无') as username,c.username as tenders,d.money,d.rechargeTime firstRecharge from rd_feel a 
	left join 
	(select b.user_id,right(b.remark,16) as code from rd_account_feel_log b where type='recharge') b on a.code=b.code
	left join rd_user c on b.user_id=c.user_id
	left join 
	(select d.user_id,d.money,min(addtime) as rechargeTime  from rd_account_recharge d where d.status=1 group by user_id) d on c.user_id=d.user_id
	left join rd_user e on a.user_id=e.user_id
	where 1=1
    <if test="entity!=null and entity.username != null">
    	and e.username like concat('%',#{entity.username,jdbcType=VARCHAR},'%')
    </if>
    <if test="entity!=null and entity.useStatus != null">
    	and a.status=#{entity.useStatus,jdbcType=INTEGER}
    </if>
    <if test="entity!=null and entity.bindingStatus != null">
    	<if test="entity.bindingStatus == 1">
	     	and a.user_id is null and a.group_name is null
    	</if>
    	<if test="entity.bindingStatus == 2">
	     	and a.user_id is not null
    	</if>
    </if>
    <if test="entity.startNo != null">
    	<![CDATA[ 
	    	and a.no >= #{entity.startNo,jdbcType=INTEGER}
		 ]]>
    </if>
    <if test="entity.endNo != null">
    	<![CDATA[ 
	    	and a.no <= #{entity.endNo,jdbcType=INTEGER} 
		 ]]>
    </if>
    <if test="entity.startTime != null and entity.startTime != ''">
		<![CDATA[ and a.addtime >= #{entity.startTime,jdbcType=VARCHAR} ]]>
	</if>
	<if test="entity.endTime != null and entity.endTime != ''">
		<![CDATA[ and a.addtime <= #{entity.endTime,jdbcType=VARCHAR} ]]>
	</if>
    order by d.money desc
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rd_account_feel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="cn.vfunding.vfunding.biz.account.model.AccountFeel" >
    insert into rd_account_feel (id, user_id, total, 
      use_money, no_use_money, collection, other
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{total,jdbcType=DECIMAL}, 
      #{useMoney,jdbcType=DECIMAL}, #{noUseMoney,jdbcType=DECIMAL}, #{collection,jdbcType=DECIMAL}, #{other,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="cn.vfunding.vfunding.biz.account.model.AccountFeel" >
    insert into rd_account_feel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="useMoney != null" >
        use_money,
      </if>
      <if test="noUseMoney != null" >
        no_use_money,
      </if>
      <if test="collection != null" >
        collection,
      </if>
      <if test="other != null" >
        other,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DECIMAL},
      </if>
      <if test="useMoney != null" >
        #{useMoney,jdbcType=DECIMAL},
      </if>
      <if test="noUseMoney != null" >
        #{noUseMoney,jdbcType=DECIMAL},
      </if>
      <if test="collection != null" >
        #{collection,jdbcType=DECIMAL},
      </if>
      <if test="other != null" >
        #{other,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.vfunding.vfunding.biz.account.model.AccountFeel" >
    update rd_account_feel
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=DECIMAL},
      </if>
      <if test="useMoney != null" >
        use_money = #{useMoney,jdbcType=DECIMAL},
      </if>
      <if test="noUseMoney != null" >
        no_use_money = #{noUseMoney,jdbcType=DECIMAL},
      </if>
      <if test="collection != null" >
        collection = #{collection,jdbcType=DECIMAL},
      </if>
      <if test="other != null" >
        other = #{other,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.vfunding.vfunding.biz.account.model.AccountFeel" >
    update rd_account_feel
    set user_id = #{userId,jdbcType=INTEGER},
      total = #{total,jdbcType=DECIMAL},
      use_money = #{useMoney,jdbcType=DECIMAL},
      no_use_money = #{noUseMoney,jdbcType=DECIMAL},
      collection = #{collection,jdbcType=DECIMAL},
      other = #{other,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 根据用户ID修改 -->
  <update id="updateByUserId" parameterType="cn.vfunding.vfunding.biz.account.model.AccountFeel" >
    update rd_account_feel
      set total = #{total,jdbcType=DECIMAL},
      use_money = #{useMoney,jdbcType=DECIMAL},
      no_use_money = #{noUseMoney,jdbcType=DECIMAL},
      collection = #{collection,jdbcType=DECIMAL},
      other = #{other,jdbcType=VARCHAR}
    where userId = #{userId,jdbcType=INTEGER}
  </update>
  
</mapper>