<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
	"http://ibatis.apache.org/dtd/ibatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="cn.vfunding.vfunding.biz.bms_employee.model.Employee"
			alias="aliasEmployee" />
		<typeAlias type="cn.vfunding.common.framework.utils.page.PageSearch"
			alias="aliasPageSearch" />
	</typeAliases>
	<plugins>
		<plugin interceptor="cn.vfunding.common.framework.utils.mybatis.PagePlugin">
			<property name="dialect" value="mysql" />
			<property name="pageSqlId" value=".*ListPage.*" />
		</plugin>
	</plugins>


</configuration>
